body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#content-wrapper {
    padding-left: 260px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#side-nav {
    position: fixed;
    top: 64px;
    bottom: 0px;
    left: 0px;
    width: 220px;
    margin: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    background: #FFFFFF;
}

#side-nav > li {
    border-bottom: 1px solid #AAAAAA;
}

#side-nav > li.active {
    background: #E6E6E6;
}

#side-nav > li > a {
    color: #000000;
    display: block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
}

#nav, .page-footer {
    z-index: 2;
}

#password-display {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#password-display .card {
    width: 300px;
    display: inline-block;
    cursor: pointer;
    margin-right: 24px;
}

#password-display .card:hover {
    background: #EFEFEF;
}

#password-display .card-content {
    padding: 8px 18px 8px 18px;
}

#password-display > .card > .card-content > .card-title {
    font-size: 19px;
    margin-bottom: 0px;
}

#password-display img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 6px;
}

.password-header td {
    white-space: nowrap;
    padding-left: 14px;
    padding-right: 14px;
}

.password-header td.section-first {
    padding-left: 30px;
}

.password-header td.section-last {
    padding-right: 30px;
    border-right: 1px solid rgba(0,0,0,0.12);
}

#overlay-close {
    cursor: pointer;
}

#new-password-modal .row, #new-password-modal .input-field, #new-password-modal .select-dropdown {
    margin-bottom: 0px;
}

#new-password-site-add {
    margin-top: 1rem;
    margin-left: 8px;
}

#password-list th, #password-list td {
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0,0,0,0.12);
}

#password-list .list-notes {
    width: 100%;
}

#password-list .list-save, #password-list .list-delete {
    padding-left: 16px;
    padding-right: 16px;
}

#password-list .list-save > .material-icons, #password-list .list-delete > .material-icons {
    position: relative;
    top: 4px;
}

#password-list .list-save.no-changes > .material-icons {
    color: #888888;
}

#password-list .list-save.changes > .material-icons {
    cursor: pointer;
    color: #000000;
}

#password-list .list-delete > .material-icons {
    cursor: pointer;
}

#password-list .list-spoiler, #password-list .list-plain-password {
    padding: 2px 8px;
}

#password-list .list-toggle, #password-list .list-copy, #password-list .list-generate {
    position: relative;
    display: inline-block;
    height: 1rem;
    top: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#password-list .list-toggle > .material-icons, #password-list .list-copy > .material-icons, #password-list .list-generate > .material-icons {
    pointer-events: none;
}

#password-list .list-copy.uncopyable {
    color: #888888;
}

.footer-links, .footer-links span, .footer-links a {
    color: #f5f5f5;
}

.footer-links a {
    text-decoration: underline;
}

