html, body {
    width: 300px;
}

body {
    padding: 20px;
    box-sizing: content-box;
}

.col.s6 > input.btn, .col.s12 > input.btn {
    width: 100%;
    display: block;
}

#login-form > .row {
    margin-bottom: 0px;
}

#login-form > .row > .input-field {
    margin-bottom: 0px;
}

#loading-screen {
    padding-top: 50px;
    box-sizing: border-box;
}

#loading-title, #loading-desc {
    text-align: center;
}

#loading-title {
    font-size: 16px;
    font-weight: bold;
}
